@accent: #0007;

* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  --highlight-color: #1C77FF;
  --highlight-color-transparent: color-mix(in srgb, var(--highlight-color), transparent 70%);
}

#file-input {
  display: none;
}

#file-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 30vh;
  background-color: var(--highlight-color);
  color: white;
  text-align: center;
  cursor: pointer;
}

#file-area h2,
#file-area p {
  margin: 5px;
}

#side-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 20em;
  height: 30vh;
  padding: 2em;
  box-sizing: border-box;
  pointer-events: none;
}

#side-panel button {
  font-size: 1rem;
  width: 100%;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  background-color: white;
  color: var(--highlight-color);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px 0 0 rgba(169, 169, 169, 0.4);
  pointer-events: all;
}
#side-panel button:active {
  transform: translateY(5px);
  box-shadow: 0 0 0 0;
}

#commit-id {
  color: #fff9;
  text-align: center;
  display: block;
  font-size: x-small;
  position: absolute;
  margin: 4px;
  text-decoration: none;
}
#commit-id:hover {
  text-decoration: underline;
}

#format-containers {
  display: flex;
}

.format-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 50vw;
  min-height: 70vh;
  padding: 0.8em 2em;
}

.format-container-inner {
  max-width: 500px;
}
.format-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

#from-container {
  background-color: lightgray;
}
#to-container {
  background-color: rgb(184, 184, 184);
}

.search {
  width: 100%;
  padding: 0.8em 1em;
  text-align: center;
  margin-bottom: 30px;
  border: 0;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 5px 0 0 darkgrey;
}

.format-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  width: 100%;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 1.5em;
  margin-bottom: 5vw;
}

.format-list button {
  width: 100%;
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;
  @border-col: lighten(@accent, 20);
  @shiftdown: 3px;
  @shadow1: 0 @shiftdown 0 2px @border-col;
  @border-shadow: 0 0 0 2px @border-col;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: .7em 1.3em;
  
  box-shadow: @shadow1, @border-shadow;
  transition:
    box-shadow 0.1s ease-out,
    transform 0.1s ease;
  &:hover {
    @shadow1: 0 3px 0 2px @border-col;
    box-shadow: @shadow1, @border-shadow;
    transform: translateY(@shiftdown);
  }
  &:active {
    @shadow1: inset 3px 3px 0 2px @border-col;
    box-shadow: @shadow1, @border-shadow;
    transform: translateY(@shiftdown);
  }
}

button.selected {
  background-color: var(--highlight-color);
  color: white;
  font-weight: bold;
}

#convert-container {
  position: fixed;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 10;
}

#convert-button {
  background: white;
  font-weight: 600;
  color: #444;
  font-size: 1.5em;
  padding: .5em 1em;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border: 2px solid #0003;
  transition: transform 0.2s cubic-bezier(.27,.43,.66,1.44), box-shadow .4s ease;
  &:hover {
    box-shadow: 0 4px 6px -1px var(--highlight-color-transparent), 0 2px 4px -2px var(--highlight-color-transparent);
    transform: translateY(-2px);
  }
  &:active {
    transform: scale(0.99);
  }
  &.disabled {
    background: #eee;
    color: #777;
  }
}

button {
  cursor: pointer !important;
}

.disabled {
  filter: grayscale(1);
  pointer-events: none;
}

#back-button {
  display: none;
  padding: .6em !important;
  transition: transform 0.2s cubic-bezier(.27,.43,.66,1.44);
  &:hover {
    transform: translateY(-2px);
  }
  &:active {
    transform: scale(0.99);
  }
}

#convert-button, #back-button {
  border-radius: 10px;
}

#popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#popup {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 20vw;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

#popup button {
  font-size: 1rem;
  padding: 7px 20px;
  border: 0;
  border-radius: 10px;
  background-color: lightgray;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #drop-hint-text {
    display: none;
  }
  .format-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0.8em 4em;
  }
  .format-list button {
    width: 100%;
  }
  #format-containers {
    flex-flow: column nowrap;
  }
  #popup {
    width: 80vw;
  }
  #side-panel {
    width: 50%;
    padding: 0.8em;
    text-align: right;
  }
  #side-panel button {
    font-size: 0.8rem;
    padding: 10px;
  }

  #format-containers #to-container {
    display: none;
  }
  #format-containers.mobile-step-to #from-container {
    display: none;
  }
  #format-containers.mobile-step-to #to-container {
    display: flex;
  }

  #format-containers.mobile-step-to ~ #convert-container #back-button {
    display: block;
    font-size: 1.5rem;
    padding: 10px 14px;
    border: 0;
    background-color: var(--highlight-color);
    color: white;
    cursor: pointer;
    line-height: 1;
  }
  #back-button:active {
    opacity: 0.8;
  }
}

